.container{
    background-color: #2c272ec2;
    height: 250px;
    border-top: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;
    padding: 50px;
}
.title{
    font-weight: 400;
    /* color: white;
    background-color: #4FBDBA; */
    background-color: #246866;
    color: rgba(255, 255, 255, 0.336);
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    width: max-content;
    display: none;
}
.linkTitle{
    text-decoration: underline;
}
.linkText{
    margin-right: 20px;
}
.cardL{
    flex: 2;
}
.cardS{
    flex: 1;
}
.cardItem{
    margin-bottom: 20px;
}
.cardItemz{
    margin-bottom: 20px;
    cursor: pointer;
}

@media screen and (max-width: 480px){
    .container{
        height: auto;
        flex-direction: column;
        background-color: #2c272ec2;
    }
    .title, .linkTitle {
        font-size: 30px;
    }
    .cardItem, .cardItemz{
        text-align: center;
        font-size: 15px;
    }
    .linkText{
        font-size: 25px;
    }
    .title{
        background-color: #246866;
        font-size: 15px;
    }
    .linkText{
        display: none;
    }
}